* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Inter', sans-serif;
}

html,
body {}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
}

.container {
    max-width: 1300px;
}

.btn-theme {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FE7747;
    border-bottom: 1px solid #FE7747;
    padding-bottom: 10px;
    display: inline-block;
}

.btn-theme img {
    margin-left: 15px;
}

.sec-title {}

.sec-title h2,
.sec-title h3 {
    font-weight: 600;
    font-size: 42px;
    line-height: 49px;
    color: #2d2d2de6;
    margin-bottom: 20px;
}

.sec-title h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #2d2d2de6;
    margin-bottom: 20px;
}

.sec-title p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2d2d2db3;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 10px;
}

header nav {}

header .navigation ul {
    align-items: center;
}

.nav-item {
    padding-left: 40px;
}

.nav-link {
    padding: 0 !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff99;
}

.nav-link:hover,
.nav-link:focus {
    color: #FFFFFF;

}

.select-box {
    position: relative;
    padding: 7px 6px !important;
    padding-right: 10px !important;
    border: 1px solid #ffffff40;
    box-sizing: border-box;
    border-radius: 4px;
    width: 115px;
    text-align: left;
    margin-right: 128px;
}

.sb-current {
    position: relative;
    cursor: pointer;
    outline: none;
    text-align: left;
}

.sb-current:focus+.sb-list {
    opacity: 1;
    -webkit-animation-name: none;
    animation-name: none;
}

.sb-current:focus+.sb-list .sb-option {
    cursor: pointer;
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 10px;
    transition: 0.2s ease;
}

.sb-value {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sb-input {
    display: none;
}

.sb-input:checked+.sb-input-text {
    display: block;
}

.sb-input-text {
    display: none;
    width: 100%;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    margin-right: 20px;
}

.sb-input-text img {
    width: 28px;
    margin-right: 8px;
}

.sb-list {
    position: absolute;
    opacity: 0;
    -webkit-animation-name: HideList;
    animation-name: HideList;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
    animation-timing-function: step-start;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px #00000026;
    border-radius: 3px;
    right: 0;
    top: 15px;
    padding: 0;
    left: 0;
    list-style: none;
    border: 1px solid #ffffff40;
}

.sb-option {
    font-size: 12px;
    color: #000000b3;
    padding: 7px 6px;
    transition: linear .2s;
    position: relative;
    display: block;
    width: 100%;
    line-height: 16px;
}

.sb-option img {
    width: 28px;
    margin-right: 8px;
    height: auto;
    position: relative;
    top: -1px;
}

@-webkit-keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

.dropdown-menu {}

.dropdown-menu li {}

.dropdown-menu li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #00000099;
    display: block;
    padding: 8px 12px;
}

.dropdown-menu li a:hover {
    color: #000000;
    background-color: #FAFAFA;
}

.drop-toggle {
    padding-left: 5px;
}

.nav-btn a {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #FE7747;
    border-radius: 24px;
    padding: 17px 35px !important;
    text-transform: uppercase;
}

.navbar-brand {
    width: 136px;
}

.navbar-brand img {
    width: 100%;
}

.hero-sec {
    background-image: url(../images/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 390px;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.hero-content h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #ffffffcc;
    max-width: 626px;
    margin: auto;
    margin-bottom: 36px;
}

.hero-content form {
    margin-bottom: 20px;
}

.hero-content .sign-up-form {
    background-color: #3d85ff0d;
    border: 1px solid #3D85FF;
    box-sizing: border-box;
    backdrop-filter: blur(7px);
    max-width: 420px;
    margin: auto;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.hero-content .sign-up-form input {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    display: block;
    width: 100%;
    height: 70px;
    outline: none;
    padding-left: 29px;
    padding-right: 80px;
}

.hero-content .sign-up-form input::placeholder {
    opacity: 1;
    color: #FFFFFF;
}

.hero-content .sign-up-form button {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0, -50%);
    width: 42px;
    height: 42px;
    background-color: #FE7747;
    border: none;
    border-radius: 50%;
    line-height: 0;
}

.hero-content .sign-up-form button svg {
    width: 17px;
}

.hero-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 45px;
}

.hero-content ul li {
    display: inline-block;
    position: relative;
    padding: 0 9px;
}

.hero-content ul li::after {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: -3px;
    transform: translate(0, -50%);
}

.hero-content ul li:last-child:after {
    display: none;
}

.hero-content ul li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.video-watch-button {
    background: rgba(61, 133, 255, 0.25);
    border: 1px solid #3D85FF;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 40px;
    padding: 17px 25px;
    padding-right: 6px;
}

.video-watch-button .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: #FFFFFF;
    margin-right: 20px;
}

.video-watch-button .icon {
    position: relative;
    margin-right: 20px;
    margin-left: 10px
}

.video-watch-button .icon::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-watch-button .icon::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 23px;
    height: 23px;
    background-color: #FE7747;
    border-radius: 50%;
    transition: all 200ms;
}

.video-watch-button .icon svg {
    fill: #FFFFFF;
    position: relative;
    z-index: 2;
    line-height: 0;
    width: 8px;
    top: -1px;
}

.video-watch-button .icon svg path {
    fill: #FFFFFF;
}

@-webkit-keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.counter-sec {
    margin-bottom: 112px;
}

.counter-sec .soft-src {
    max-width: 1200px;
    margin: auto;
    margin-top: -340px;
    margin-bottom: 31px;
    position: relative;
}

.counter-sec .soft-src img {
    filter: drop-shadow(-33px 86px 80px #bcbcbc1c);
    border-radius: 10px;
    width: 100%;
}

.review-card {
    background: #FFFFFF;
    box-shadow: -10px 14px 30px -10px #041b291a;
    border-radius: 5px;
    transform: rotate(-7.15deg);
    padding: 20px;
    width: 240px;
    position: absolute;
    z-index: 1;
    top: -65px;
    right: 105px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.review-card .icon {
    background: #FE7747;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: relative;
    margin-right: 15px;
}

.review-card .icon img {
    width: 28px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.review-card .text {}

.review-card .text h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #051B2A;
    margin-bottom: 4px;
}

.review-card .text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #949697;
    margin-bottom: 9px;
}

.review-card .text ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 0;
    display: flex;
}

.review-card .text ul li {
    line-height: 0;
    margin-right: 2px;
}

.review-card .text ul li svg {
    width: 13px;
}

.review-card .text ul li svg path {}

.counter-content {
    background: #ebf4ef0d;
    border: 1px solid #EBF4EF;
    box-sizing: border-box;
    padding: 107px 50px 96px;
    text-align: center;
}

.counter-content .col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.counter-num {
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    color: #FE7747;
    margin-bottom: 8px;
}

.counter-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #2d2d2de6;
}

.counter-icon {}

.counter-icon ul {
    padding: 0;
    margin-bottom: 12px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.counter-icon ul li {
    padding: 0 1px;
}

.counter-icon ul li svg {
    width: 15px;
}

.counter-icon ul li svg path {}

.sec-process {
    margin-bottom: 130px;
}

.sec-process .sec-title {
    text-align: center;
    max-width: 609px;
    margin: auto;
    margin-bottom: 50px;
}

.process {
    padding-left: 50px;
    position: relative;
}

.process.process-1 {
    background: #EBF4EF;
    margin-bottom: 40px;
    padding-top: 143px;
    padding-bottom: 168px;
}

.process.process-2 {
    padding-top: 112px;
    padding-bottom: 432px;
    background: #F6F3F0;
}

.process.process-3 {
    background: #F6F3F0;
    height: 100%;
    margin-left: 20px;
    padding-top: 486px;
}

.process-content {
    z-index: 2;
    position: relative;
}

.process-content.process-1-content {}

.process-content.process-2-content {}

.process-content.process-3-content {}

.process-content h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #2d2d2de6;
    margin-bottom: 20px;
}

.process-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2d2d2db3;
    padding-left: 30px;
    position: relative;
}

.process-content p::before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: #FE7747;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
}

.process-content.process-1-content p {
    max-width: 330px;
}

.process-content.process-2-content p {
    width: 280px;
}

.process-content.process-2-content p::before {
    background-color: #53BD95;
}

.process-content.process-3-content p {
    max-width: 300px;
}

.process-img-1 {
    position: absolute;
    top: 58px;
    left: 470px;
    max-width: 360px;
}

.process-img-1 img {}

.process-img-2 {
    position: absolute;
    top: 85px;
    right: 184px;
    max-width: 235px;
}

.process-img-2 img {}

.process-img-3 {
    position: absolute;
    left: 10px;
    bottom: 47px;
}

.process-img-3 img {}

.process-img-4 {
    position: absolute;
    right: 0;
    bottom: 47px;
}

.process-img-4 img {}

.process-img-5 {
    position: absolute;
    top: 106px;
    right: 48px;
    z-index: 1;
}

.process-img-5 img {
    width: 80px;
    padding: 20px;
    background: #FE7747;
    box-shadow: 0px 14px 43px -5px rgba(19, 15, 38, 0.45);
    border-radius: 50px;
}

.process-img-6 {
    position: absolute;
    top: 50px;
    left: 45px;
    max-width: 365px;
}

.process-img-6 img {}

.process-img-7 {
    position: absolute;
    right: 16px;
    top: 213px;
}

.process-img-7 img {}

.sec-working {
    background-image: url(../images/sec-working-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 78px 0;
}

.working-content {
    padding-top: 153px;
    padding-bottom: 187px;
}

.working-content .sec-title {
    margin-bottom: 54px;
}

.working-content .sec-title p {
    max-width: 437px;
}

.working-content a.btn-theme {}

.working-card-area {
    position: relative;
    background-image: url(../images/working-bg.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 380px;
}

.working-card {
    background: #FFFFFF;
    box-shadow: -16px 27px 54px -10px #81504512;
    border-radius: 10px;
    padding: 26px;
    position: absolute;
}

.working-card.working-card-1 {
    max-width: 284px;
    top: 122px;
    left: 0;
}

.working-card.working-card-2 {
    max-width: 284px;
    right: 0;
    top: 53px;
}

.working-card.working-card-3 {
    max-width: 428px;
    left: 60px;
    bottom: 0;
}

.working-card .card-title {
    margin-bottom: 15px;
    display: table;
    width: 100%;
}

.working-card .card-title .icon {
    display: table-cell;
    width: 42px;
    height: 42px;
    background: #FE7747;
    border-radius: 4px;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.working-card .card-title .text {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #2d2d2de6;
    display: table-cell;
    padding-left: 22px;
    vertical-align: middle;
}

.working-card p {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #2d2d2db3;
}

.working-card.working-card-2 .card-title .icon {
    background-color: #FEC445;
}

.working-card.working-card-3 .card-title .icon {
    background-color: #95DAC1;
}

.sec-blog-outline {
    padding: 130px 0;
}

.blog-outline-img {
    background-image: url(../images/blog-outline-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    padding-top: 57px;
    padding-left: 53px;
    padding-right: 50px;
    position: relative;
}

.blog-outline-img .img-1 {
    max-width: 439px;
}

.blog-outline-img .img-1 img {
    box-shadow: 0px -24px 43px -4px #041b2917;
    width: 100%;
}

.blog-outline-img .img-2 {
    max-width: 376px;
    position: absolute;
    bottom: 86px;
    right: 50px;
}

.blog-outline-img .img-2 img {
    box-shadow: 0px 20px 43px -4px #041b2914;
    width: 100%;
}

.blog-outline-content {
    padding-left: 90px;
    padding-right: 45px;
}

.blog-outline-content .sec-title {
    margin-bottom: 20px;
}

.blog-outline-content ul {
    margin: 0;
    list-style: none;
    margin-bottom: 33px;
    padding-left: 10px;
}

.blog-outline-content ul li {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2d2d2de6;
    margin-bottom: 15px;
}

.blog-outline-content ul li:last-child {
    margin-bottom: 0;
}

.blog-outline-content ul li::before {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: #FE7747;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px;
    display: inline-block;
    position: relative;
    top: 2px;
    left: -10px;
}

.blog-outline-content a.btn-theme {}

.sec-products {
    background-image: url(../images/sec-products-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 68px 0;
}

.products-bg {
    background-image: url(../images/products-demo-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    text-align: right;
}

.products-bg img {
    box-shadow: 10px 14px 54px -12px #7f957f24;
    border-radius: 10px;
    max-width: 230px;
    margin-right: 95px;
    margin-top: 30px;
}

.products-content {}

.products-content .sec-title {
    margin-bottom: 50px;
    max-width: 437px;
}

.products-content a.btn-theme {}

.sec-paraphrasing {
    padding: 130px 0;
}

.paraphrasing-content {}

.paraphrasing-content .sec-title {
    margin-bottom: 29px;
    max-width: 450px;
}

.paraphrasing-content .accordion {
    max-width: 407px;
    margin-bottom: 50px;
}

.paraphrasing-content .accordion .accordion-item {

    background: #FFFFFF;

    box-shadow: 5px 5px 26px #2020200d;

    border-radius: 8px;

    margin-bottom: 20px;

    border: none;
}

.paraphrasing-content .accordion .accordion-item:last-child {
    margin-bottom: 0;
}

.paraphrasing-content .accordion .accordion-header {
    border: none;
}

.paraphrasing-content .accordion .accordion-button {
    border: none;
    background: transparent;
    outline: none;
    box-shadow: none;
    padding: 24px 19px;
    padding-right: 28px;
    transition: linear .2s;
}


.paraphrasing-content .accordion .accordion-button::after {
    background-image: url(../images/arrow-right.svg);
}

.paraphrasing-content .accordion .accordion-button:not(.collapsed)::after {
    transform: rotate(90deg);
}

.paraphrasing-content .accordion .accordion-button .num {
    height: 36px;
    width: 36px;
    background: #53BD95;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding: 9px 0;
    margin-right: 26px;
    transition: linear .2s;
    box-shadow: none;
}

.paraphrasing-content .accordion .accordion-button .text {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #53BD95;
}

.paraphrasing-content .accordion .accordion-button:not(.collapsed) {
    padding-left: 15px;
    padding-top: 18px;
}

.paraphrasing-content .accordion .accordion-button:not(.collapsed) .num {
    background-color: #FF7752;
    box-shadow: 6px 6px 0 #FFF1EE;
}

.paraphrasing-content .accordion .accordion-button:not(.collapsed) .text {
    color: #FF7752;
}

.paraphrasing-content .accordion .accordion-collapse {}

.paraphrasing-content .accordion .accordion-body {
    padding-left: 19px;
    padding-right: 27px;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #2d2d2db3;
}

.paraphrasing-content a.btn-theme {}

.paraphrasing-img {
    position: relative;
    text-align: right;
}

.paraphrasing-img img {}

.paraphrasing-rocket {
    position: absolute;
    max-width: 130px;
    top: 85px;
    right: 105px;
}

.paraphrasing-rocket img {
    width: 100%;
}

.sec-help {
    background-image: url(../images/help-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding-top: 120px;
}

.help-content {}

.help-content h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 52px;
    /* identical to box height, or 113% */
    text-align: center;

    /* Neutral/500 white */
    color: #FFFFFF;
    margin-bottom: 20px;
}

.help-content p {
    width: 609px;
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 60px;
}

.help-content img {
    max-width: 1170px;
    margin-bottom: -190px;
    filter: drop-shadow(34px 57px 81px rgba(0, 0, 0, 0.05));
}

.sec-testimonial {
    padding-top: 433px;
    margin-bottom: 130px;
}

.testimonial-content {
    background-image: url(../images/testimonial-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 48px 135px 63px;
}

.testimonial-content .sec-title {
    text-align: center;
    max-width: 410px;
    margin: auto;
    margin-bottom: 38px;
}

.testimonial-content .sec-title h2 {
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 13px;
}

#carouselTestimonial {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 50px;
    padding-right: 60px;
}

#carouselTestimonial .carousel-inner {}

#carouselTestimonial .carousel-item {}

#carouselTestimonial .carousel-block {
    display: grid;
    grid-template-columns: 353px auto;
    align-items: center;
}

#carouselTestimonial .client-pic {}

#carouselTestimonial .client-pic img {
    border-radius: 24px;
}

#carouselTestimonial .client-feedback {
    padding-left: 72px;
    padding-right: 0px;
}

#carouselTestimonial .client-feedback h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #1F3428;
    margin-bottom: 28px;
}

#carouselTestimonial .client-feedback p {
    margin-bottom: 44px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgba(45, 45, 45, 0.7);
}

#carouselTestimonial .client-bio {}

#carouselTestimonial .client-bio h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */


    /* 90 */
    color: #2d2d2de6;
    margin-bottom: 4px;
}

#carouselTestimonial .client-bio p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */


    /* 70 */
    color: #2d2d2db3;
}

#carouselTestimonial .carousel-control-prev,
#carouselTestimonial .carousel-control-next {
    width: 40px;
    height: 40px;
    background: #FF7752;
    border-radius: 50%;
    right: 50px;
    left: auto;
    bottom: 98px;
    top: auto;
    transform: none;
}

#carouselTestimonial .carousel-control-prev {
    right: 104px;
}

#carouselTestimonial .carousel-control-prev img {}


#carouselTestimonial .carousel-control-next img {}

.sec-blog {
    padding-bottom: 165px;
}

.sec-blog .container {
    max-width: 1250px;
}

.sec-blog .sec-title {
    text-align: center;
    max-width: 437px;
    margin: auto;
    margin-bottom: 106px;
}

.highlight-post {
    background: #FEFEFE;
    box-shadow: 0px 4px 109px 8px #b8b8b840;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 52px;
    position: relative;
    max-width: 630px;
}

.highlight-post img {
    border-radius: 12px;
    width: 100%;
    margin-bottom: 30px;
}

.highlight-post h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2d2d2de6;
    margin-bottom: 16px;
    max-width: 430px;
}

.highlight-post a {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2d2d2de6;
}

.highlight-post p {
    font-weight: normal;
    font-size: 14px;
    line-height: 174.5%;
    color: #2d2d2de6;
    max-width: 391px;
}

.highlight-post a.btn-post {
    font-weight: 500;
    font-size: 14px;
    line-height: 33px;
    color: #06080E;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    right: 35px;
    bottom: 36px;
}

.highlight-post a.btn-post img {
    background: #FE7747;
    margin-left: 17px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 0;
}

.post-card {
    background: #FEFEFE;
    box-shadow: 0px 4px 58px 3px #c5c7cc40;
    border: 1.5px solid #EBEBEB;
    border-radius: 10px;
    transform: rotate(0deg);
    padding: 30px;
    padding-right: 45px;
    margin-bottom: 20px;
    max-width: 412px;
    margin: auto;
    margin-bottom: 50px;
    transition: linear .2s;
}

.post-card:hover {
    border-color: transparent;
}

.post-card:last-child {
    margin-bottom: 0;
}

.post-card h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333641;
    margin-bottom: 25px;
}

.post-card a {
    font-weight: 500;
    font-size: 14px;
    line-height: 33px;
    color: #06080E;
    text-transform: uppercase;
    transition: linear .2s;
}

.post-card a img {
    background: #53BD95;
    width: 30px;
    border-radius: 20px;
    padding: 6px;
    margin-left: 13px;
    transition: linear .2s;
}

.post-card:hover a {
    color: #FE7747;
}

.post-card:hover img {
    background: #FE7747;
}

.post-card.post-card-1 {
    transform: rotate(3.98deg);
}

.post-card.post-card-2 {}

.post-card.post-card-3 {
    transform: rotate(-7.18deg);
}

footer {
    position: relative;
    background-image: url(../images/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 166px;
}

.back-top-btn {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #FE7747;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    height: 58px;
    width: 58px;
    border-radius: 50px;
    text-align: center;
    padding: 15px 0;
}

.back-top-btn img {
    width: 20px;
}

.footer-widget {}

.footer-widget h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height, or 136% */
    letter-spacing: 0.02em;

    /* Text color/white */
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-widget p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* or 186% */


    /* Text color/500 */
    color: #B8B8B8;
    max-width: 279px;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-widget ul li {
    line-height: 30px;
}

.footer-widget ul li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    /* or 189% */
    letter-spacing: 0.02em;
    color: #9C9C9C;
}

.footer-logo {
    margin-bottom: 15px;
}

.footer-logo img {}

.newsletter {
    margin-bottom: 30px;
}

.newsletter h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

.newsletter h3::before {
    content: "";
    width: 25px;
    height: 20px;
    display: inline-block;
    background-image: url(../images/envelope.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: 17px;
}

.newsletter h3::after {
    content: "";
    width: 48px;
    height: 38px;
    display: inline-block;
    background-image: url(../images/comma.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: 44px;
}

.newsletter form {
    background: #ffffff12;
    border-radius: 41px;
    position: relative;
    overflow: hidden;
}

.newsletter form input {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF80;
    outline: none !important;
    border: none;
    background: transparent;
    width: 100%;
    height: 57px;
    padding-left: 26px;
    padding-right: 150px;
}

.newsletter form button {
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #FE7747;
    border-radius: 41px;
    border: dodgerblue;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 146px;
}

.follow {}

.follow h3 {
    font-size: 18px;
    margin-bottom: 17px;
}

.follow ul {}

.follow ul li {
    display: inline-block;
    margin-right: 18px;
}

.follow ul li:last-child {
    margin-right: 0;
}

.follow ul li a {
    height: 38px;
    width: 38px;
    display: block;
    background: #ffffff0d;
    border: 1px solid #ffffff0d;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    position: relative;
    border-radius: 50%;
}

.follow ul li a img {
    width: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.copy-right {
    text-align: center;
    margin-top: 80px;
    border-top: 1px solid #ffffff2e;
    padding: 30px 0;

}

.copy-right p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #B8B8B8;
}